src/main/resources/results.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Results">
        <xs:complexType>
            <xs:attribute name="version" type="xs:decimal" use="required" />
        </xs:complexType>
    </xs:element>

    <!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
   <xs:element name="ReportNode">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="Data">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="Name" type="xs:string" />
                                <xs:element name="Description" type="xs:string" />
                                <xs:element name="StartTime" type="xs:string" />
                                <xs:element name="Result" type="xs:string" />
                                <xs:element name="Extension">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="IconKey" type="xs:string" />
                                            <xs:element name="IsPlainTextNodeName" type="xs:string" />
                                            <xs:element name="IsPlainTextStepInfo" type="xs:string" />
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="type" type="xs:string" use="required" />
            </xs:complexType>
        </xs:element>
</xs:schema>